html, body {
    height: 100%;
}

h1, h3 {
    text-align: center;
}

img.profile-photo {
    width: 100%;
    max-width: 200px;
    float: left;
    padding-right: 1em;
}

.list-group-item {
    margin-bottom: 3px;
}

.thumbnail img {
    width: 100%;
    max-width: 200px;
    float: left;
    padding: 1em 1em 2em 0;
}

.where .dates, .what .dates {
    float: right;
}

.how .badge {
    margin: 2px;
}

#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by it's height */
    margin: 0 auto -0px;
    padding: 0 0 60px;
}

footer {
    height: 50px;
    background-color: #f9f9f9;
    margin-top: 0px;
    padding-top: 15px;
    font-size: 12px;
    color: gray;
}

@media (max-width: 767px) {
    footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
