<div id="wrap" class="container">
    <div class="jumbotron">
        <img class="profile-photo" src="{{resume_data.photo}}">

        <h1 class="">{{resume_data.name}}</h1>

        <p class="clearfix">{{resume_data.summary}}</p>
    </div>

    <div class="row">
        <div class="col-lg-5 where">
            <h3 title="Where">Work History & Education</h3>

            <div class="alert alert-warning" ng-if="!resume_data.where">
                Add work history and education by adding in a where element to resume.json
            </div>

            <div class="list-group">
                <a href="/#where/{{where.slug}}" class="list-group-item thumbnail col-sm-6 col-md-12"
                   ng-repeat="where in resume_data.where">
                    <img src="{{where.logo}}" ng-if="where.logo">

                    <div class="caption">
                        <p class="dates badge">{{where.start}} - {{where.end}}</p>

                        <h4>{{where.name}}</h4>

                        <p class="quick-summary" ng-if="where.summary">{{where.summary}}</p>
                        <p class="quick-summary" ng-if="!where.summary">{{where.about}}</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-5 what" ng-if="resume_data.what">
            <h3 title="What">Projects & Accomplishments</h3>

            <div class="list-group">
                <a href="/#what/{{what.slug}}" class="list-group-item thumbnail col-sm-6 col-md-12"
                   ng-repeat="what in resume_data.what">
                    <img src="{{where.logo}}" ng-if="where.logo">

                    <div class="caption">
                        <h4>{{what.name}}</h4>

                        <p class="dates badge">{{what.start}} - {{what.end}}</p>

                        <p class="quick-summary">{{what.summary}}</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-2 how" ng-if="resume_data.how">
            <h3 title="How">Skills</h3>

            <div>
                <a href="/#how/{{how.slug}}" class="badge" ng-repeat="how in resume_data.how">{{how.name}}</a>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <p>Skillfully crafted using <a href="https://github.com/trevorallred/trevorallred.github.io">Resume IO</a>.</p>
    </div>
</footer>